target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/*
*.iml
*.class
BenchmarkResults.txt

# Package Files #
*.jar
*.war
*.ear


# IntelliJ
/out/
.idea/
src/main/resources/
jdbc-2016-08-01.log